/* Typographie */
@import url("fonts/ZXX/zxx.css");
@import url("fonts/Plex/css/ibm-plex.css");

body {
  font-family: "IBM Plex Sans";
  font-weight: 300;
}

h1 {
  font-family: "zxx";
}

h2,
h3,
h4,
h5,
h6,
figcaption {
  font-family: "IBM Plex Mono";
  font-weight: 400;
}

/* Font size */

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
h3 {
  font-size: 2rem;
}

/* Microtypo */
p {
  letter-spacing: 0.001em;
  line-height: 1.33;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

/*header*/
body {
  margin: 0;
}
header {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 30%;
  margin-top: 15rem;
}
header .intro {
  width: 60%;
}
header .intro h2 {
  font-size: 1.75vw;
}
header nav {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 4rem;
  width: 100%;
}

/*deco*/
header {
  position: relative;
}
header .deco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.deco .r1,
.deco .r2,
.deco .r3,
.deco .r4,
.deco .r5,
.deco .r6 {
  position: absolute;
}

.deco .r1 {
  width: 40%;
}
.deco .r2 {
  width: 50%;
  left: 25%;
  /* border: 1px solid yellow; */
}
.deco .r3 {
  width: 25%;
  right: 0%;
  /* border: 1px solid green; */
}
.deco .r4 {
  width: 15%;
  right: 0%;
  top: 25%;
}
.deco .r5 {
  width: 20%;
  right: 0%;
  bottom: 0%;
}
.deco .r6 {
  width: 20%;
  left: 0%;
  bottom: 0%;
}
