/* Typographie */
@import url("fonts/ZXX/zxx.css");
@import url("fonts/Plex/css/ibm-plex.css");

body {
  font-family: "IBM Plex Sans";
  font-weight: 300;
}

h1 {
  font-family: "zxx";
}

h2,
h3,
h4,
h5,
h6,
figcaption {
  font-family: "IBM Plex Mono";
  font-weight: 400;
}

/* Font size */

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}

/* Microtypo */
p {
  letter-spacing: 0.001em;
  line-height: 1.33;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

/*header*/
body {
  margin: 0;
}
header {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60%;
  margin-top: 8rem;
}
header .intro {
  width: 60%;
}
header .intro h2 {
  font-size: 2vw;
}
header nav {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 4rem;
  width: 100%;
}

/*deco*/
header {
  position: relative;
}
header .deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.deco .r1 {
  width: 50%;
}
